<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>Movie Time</title>
	</head>


	<body>

		<center>
			<video src="{{base_url}}/video" controls></video>
		</center>
    <div id="app">
        {{hola_mundo}}
      <ul>
        
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="javascripts/app.js"></script>
          <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
      <script>
        var socket = io('http://localhost:3000/');
          socket.on("message-from-server-to-client", function(msg) {
         console(msg);
      });
      socket.emit('message-from-client-to-server', 'Hello World!');
      </script>

	</body>

</html>