<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
		<title>Movie Time</title>
	</head>

<style>
  ::-webkit-media-controls {
  display:none !important;
}
</style>
	<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Movie </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
          </li>
        </ul>

      </div>
    </nav>
    <div id="app" class=" container col-9">
      		<div class="login-form">
			<h1>Login Form</h1>
		<form action="admin/auth" method="POST">
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
    </div>

    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h5 class="card-title">Creado</h5>
        <p class="card-text">Jorge Nowell 
          <a href="https://github.com/jorged104">https://github.com/jorged104</a>
        </p>
      </div>
    </div>

         
	</body>

</html>